[Unit]
Description=Valhalla Routing Service
Documentation=https://valhalla.github.io/valhalla/
After=network.target

[Service]
ExecStart=valhalla_service /root/valhalla_setup/valhalla/scripts/conf/valhalla.json 2
ExecStop=/bin/kill $MAINPID
Restart=on-failure
User=root
WorkingDirectory=/root/valhalla_setup/valhalla
KillMode=control-group

# Logging
StandardOutput=file:/var/log/valhalla/valhallaMA.log
StandardError=file:/var/log/valhalla/valhallaMA_error.log


[Install]
WantedBy=multi-user.target